/*Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
body{
	font-family: 'Open Sans', sans-serif;
}
body a{
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
 ul{
	padding: 0;
	margin: 0;
}
h1,h2,h3,h4,h5,h6{
	margin:0;
	padding:0;
	font-family: 'Racing Sans One', cursive;
}
p{
	margin:0;
	padding:0;	
	color: #777;
}
/*--banner--*/

/*---*/
nav a {
	position: relative;
	display: inline-block;
	outline: none;
	text-decoration: none;
}
nav a:hover,
nav a:focus {
	outline: none;
}
.header {
    background: #d62222;
    /*padding: 1em 0;*/
}
.navbar-default {
    background: none;
    border: none;
    margin: 0;
    min-height: auto;  
}
.navbar-default .navbar-nav > .active > a{
    color: #fff;
    background:none;
	padding: 10px 0;
	border-bottom: 3px double #fff;
}
div#bs-example-navbar-collapse-1 {
    float: right;
	margin-top: 1.2em;
}
 .navbar-default .navbar-nav > .active > a:hover,
 .navbar-default .navbar-nav > .active > a:focus {
    color:  #fff;
    background:none;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 1.2em;
	padding: 10px 0;
	margin:0 0.8em;
}
.logo h1 a {
  font-size: 1.5em;
	text-decoration: none;
	color:#fff;
}
.navbar-brand {
    padding: 2px 15px;
	    height: 70px;
}
.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background: none;
    outline: none;
	border-bottom: 3px double #fff;
}
.slider {
	position: relative;
/*-- w3layouts --*/ 
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }
.rslides li {
  -webkit-backface-visibility: hidden;
  width: 100%;
  left: 0;
  top: 0;
  }
.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
.caption{
	width: 60%;
	position: absolute;
	top: 35%;
	left: 20%;
	text-align:center;
}
.caption h3{
	color: #ffffff;
	font-size: 2.8em;
	text-transform: capitalize;
	letter-spacing: 3px;
  text-shadow: 0 0 2px #333;
}
.caption p{
	font-size: 3em;
    text-align: center;
    font-weight: 600;
    color: #eee;
	font-family: 'Racing Sans One', cursive;
  text-shadow: 0 0 2px #333;
}
.caption p span {
    font-size: 0.5em;
    margin: 0 0.5em;
}
.cap i {
    font-size: 2em;
    color: #FFFFFF;
    line-height: 1.8em;
  text-shadow: 0 0 2px #333;
}
.callbacks_tabs a:after {
	content: "\f111";
	font-size: 0;
	font-family: FontAwesome;
	visibility: visible;
	display: block;
	height: 15px;
	width: 15px;
	display: inline-block;
	border: 2px solid #FFFFFF;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	background:#506a85;
}
.callbacks_here a:after{
	background:rgb(23, 167, 139);
}
.callbacks_tabs a{
	visibility:hidden;
}
.callbacks_tabs li{
	display:inline-block;
	display:none;
}
ul.callbacks_tabs.callbacks1_tabs {
	position: absolute;
	bottom: -2px;
	z-index: 999;
	left: 46%;
	background:#fff;
}
.callbacks_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 44%;
  left: 14%;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: none;
  margin-top: -45px;
  }
.callbacks_nav.next {
  left: auto;
  background-position: right top;
  right: 14%;
 }
h2.tittle {
    font-size: 3.5em;
	/*-- w3layouts --*/
	text-align: center;
	color:#222;
}
h3.tittle1 {
    font-size: 3.5em;
	text-align: center;
	margin-bottom:1.5em;
	color:#222;
}
.couple,.untill,.photos,.attending {
    padding: 5em 0;
	text-align: center;
}
.couple-grids,.until-grids,.couples-grids,.photos-grids,.about-grids,.team-grids {
    margin-top: 4em;
}
.couple-top {
    padding: 4em;
    background: #FBF2F4;
}
.couple-text {
    margin-top: 2em;
}
.couple-text h6 {
    font-size: 1.2em;
    color: #222;
}
.couple-text h4 {
    font-size: 2em;
    color: #258BA0;
    padding-top: .5em;
}
.couple-text p {
    padding: 1em 0;
    line-height: 1.8em;
	font-size:1em;
}
.couple-img {
    -moz-box-shadow: 4px 9px 12px #888;
    -webkit-box-shadow: 4px 9px 12px #888;
    box-shadow: 4px 9px 12px #888;
    -o-box-shadow: 4px 9px 12px #888;
    -ms-box-shadow: 4px 9px 12px #888;
}
.multi-gd-text a {
    display: block;
    position: relative;
}
.multi-gd-text a:hover::before {
	/*-- agileits --*/
    width: 100%;
    height: 100%;
}
.multi-gd-text a::before {
    background:rgba(37, 139, 160, 0.29);
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 0;
    transition: all 0.5s ease-out 0s;
    z-index: 99;
    content: "";
}
.multi-gd-text img {
    height: auto;
    width: 100%;
}
.multi-gd-text a:hover::after {
    width: 100%;
    height: 100%;
}
.multi-gd-text a::after {
    background: rgba(37, 139, 160, 0.29);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    transition: all 0.5s ease-out 0s;
    z-index: 99;
    content: "";
}
.work-left {
    text-align: right;
    padding: 3em 5em 0 0;
}
.work-right {
    border-left: 1px solid #999;
    padding: 2.5em 0 2em 6em;
}
.work-info h4 {
    font-size: 1.2em;
    background: #258BA0;
    display: inline-block;
    padding: .6em 1.2em;
    color: #fff;
	position:relative;
}
.work-info h4:before {
	/*-- w3layouts --*/
    width: 0;
    height: 0;
    position: absolute;
    content: '';
    top: 9px;
    right: -14px;
    border-style: solid;
    border-width: 10px 0 10px 16px;
    border-color: transparent transparent transparent #258BA0;
}
.work-info h5 {
    font-size: 1.5em;
    color: #258BA0;
    padding: 0 1.2em;
}
.work-info h5 span.glyphicon {
    font-size: 1em;
    color: #fff;
    background: #d62222;
    padding: 1em;
    -webkit-border-radius: 70%;
    -moz-border-radius: 70%;
    border-radius: 70%;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
}
.work-right h5 span.glyphicon {
    margin-right: 5em;
    margin-left: -8em;
}
.work-left2 h5 span.glyphicon {
    margin-left: 10.5em;
    margin-right: -11em;
    z-index: 9;
}
.work-right.work-right2 {
    min-height: 277px;
    float: right;
}
.work-right.work-right2 h4:before {
    left: -14px;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	/*-- agileits --*/
    transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
}
.work-right.work-right2 h4 {
    margin-top: 0.8em;
}
.work-info:hover h5 span.glyphicon {
    color: #258BA0;
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
    transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
}
.love-text {
    background: #fff;
    width: 85%;
   padding: 0em 2em 2em;
}
.love-text p {
    font-size: 0.95em;
    line-height: 1.8em;
    color: #777;
}
.lovers {
    background:#f18686;
	padding:5em 0;
}
.until-text h5 {
    font-size: 1em;
    color: #222;
}
.numscroller {
    font-size: 2.5em;
    color: #222;
	font-family: 'Ek Mukta', sans-serif;
}
.until-text {
    width: 210px;
    height: 210px;
    border-radius: 648px;
    border-color: #ffffff;
    border-width: 2px;
    border-style: none;
    padding: 4.5em 0;
    margin: 0 auto;
    border-left: 6px solid#6D041E;
}
.couples {
    padding: 5em 0;
	background: #FBF2F4;
}
h3.tittle {
    font-size: 3.5em;
    text-align: center;
    color: #222;
}
.couples-left h4 {
    font-size: 2em;
    color: #258BA0;
    text-align: right;
}
.couples-left p {
    font-size: 1em;
    line-height: 1.8em;
	    text-align: right;
		    margin-top: 0.5em;
}
.couples-left1 h4 {
    font-size: 2em;
    color: #258BA0;
    text-align: left;
}
.couples-left1 p {
    font-size: 1em;
    line-height: 1.8em;
	    margin-top: 0.5em;
}
.count-down {
    padding: 5em 0;
    text-align: center;
    background: #258BA0;
}
.count-grid h4 {
    font-size: 4em;
	color:#fff;
}
.count-grid h5 {
    font-size: 1.2em;
    color: #eee;
	margin-top: .5em;
}
.count {
    border: 5px double #eee;
    width: 80%;
    height: 200px;
    padding-top: 4em;
    border-radius: 120px;
    margin: 0 auto;
}
.details {
    padding: 5em 0;
	background: #FBF2F4;
	text-align:center;
}
.icon i {
    font-size: 2em;
    background: #258BA0;
    width: 85px;
    height: 85px;
    margin: 0 auto;
    padding-top: 0.85em;
    border-radius: 50px;
    color: #fff;
	 border: 5px double transparent;
	 -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
	-o-transform:.5s all;
}
.numscroller {
    font-size: 2.5em;
    color: #fff;
   	font-family: 'Racing Sans One', cursive;
}
.details-grid h4 {
    font-size: 2em;
    color: #258BA0;
    margin: 0.5em 0;
}
.details-grid p{
    font-size: 1em;
    line-height: 1.8em;
    margin-top: 0.5em;
}
.details-grid span {
    font-size: 1.3em;
    color: #6D041E;
	font-weight: 600;
}
.details-grid:hover div.icon i {
    background: #6D041E;
    border: 5px double #eee;
}
.attened {
    width: 50%;
    margin: 4em auto 0;
    background: #258BA0;
    padding: 2em;
}
.attending input[type="text"] {
    width: 100%;
    padding: 0.5em;
    font-size: 1em;
    border: none;
    margin: 0.5em 0;
	outline:none;
	 border-radius: 3px;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
}
.ser {
    width: 100%;
    padding: 0.5em;
    color: #777;
	margin: 0.5em 0;
	 border-radius: 3px;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
}
.attened span {
    font-size: 1em;
    color: #eee;
    text-align: left;
    display: block;
    margin-left: 4px;
}
.attending input[type="submit"] {
    outline: none;
    color: #fff;
    font-size: 1em;
    padding: 1em;
    width: 35%;
    background: #d62222;
    border: none;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
    display: block;
    margin: 1em auto 0;
    border-radius: 3px;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
}
.attending input[type="submit"]:hover{
	 background: #fff;
	 color:#222;
}
/*--//work--*/

.footer-section {
    padding: 2em 0;
    background: #258BA0;
}
.footer-section p {
    font-size: 0.9em;
    color: #fff;
    font-weight: 400;
	text-align:center;
	    line-height: 2em;
}
.footer-section a {
    font-size: 1em;
    color: #fff;
    font-weight: 400;
    text-transform: capitalize;
}
.social-icons a i {
    width: 32px;
    height: 32px;
    background:#6D041E url(../images/img-sprite.png) no-repeat 0px 0px;
    display: inline-block;
	margin:0 0.2em;
	transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
	 border-radius: 6px 6px 5px 10px;
}
.social-icons i.icons:hover {
  background: #00959F  url(../images/img-sprite.png) no-repeat 0px 0px;
      transform: rotateY(360deg);
}
.social-icons i.icons {
    background-position: 0px 0px;
}
.social-icons i.icons1 {
    background-position: -32px 0px;
}
.social-icons i.icons1:hover {
  background: #00959F  url(../images/img-sprite.png) no-repeat -32px 0px;
      transform: rotateY(360deg);
}
.social-icons i.icons2 {
    background-position: -64px 0px;
}
.social-icons i.icons2:hover {
  background: #00959F  url(../images/img-sprite.png) no-repeat -64px 0px;
      transform: rotateY(360deg);
}
.social-icons i.icons3 {
    background-position: -96px 0px;
}
.social-icons i.icons3:hover {
  background: #00959F  url(../images/img-sprite.png) no-repeat -96px 0px;
      transform: rotateY(360deg);
}
.social-icons {
    margin-top: 1em;
	text-align:center;
}
.footer-left {
    float: left;
    width: 33.3%;
}
.footer-grid ul li {
    font-size: 0.95em;
    list-style: none;
    color: #eee;
    line-height: 1.8em;
    background: url(../images/list-arrow.png) no-repeat 5px 8px;
    padding: 2px 24px;
}
/* Bounce To Bottom */
.hvr-bounce-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #6D041E;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
      padding-top: 3em;
    border-radius: 120px;
}
.hvr-bounce-to-bottom:hover, .hvr-bounce-to-bottom:focus, .hvr-bounce-to-bottom:active {
  color: white;
}
.hvr-bounce-to-bottom:hover:before, .hvr-bounce-to-bottom:focus:before, .hvr-bounce-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
/* Wobble Bottom */
@-webkit-keyframes hvr-wobble-bottom {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }

  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }

  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }

  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }

  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }

  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}

@keyframes hvr-wobble-bottom {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }

  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }

  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }

  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }

  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }

  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}

.hvr-wobble-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
}
.hvr-wobble-bottom:hover, .hvr-wobble-bottom:focus, .hvr-wobble-bottom:active {
  -webkit-animation-name: hvr-wobble-bottom;
  animation-name: hvr-wobble-bottom;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
/*--/TIMER--*/
#counter {
	height: 165px;
    font-size: 35px;
	color:#212121;
	overflow: hidden;
}
.countdown {
    background: #d62222;
    width: 90%;
    margin: 0 auto;
	  border: 1px solid #E3E3E3;
}
.countDays, .countHours, .countMinutes, .countSeconds {
    display:inline-block;
    padding: 0.5em 0.5em;
    border: 4px double#E3E3E3;
	font-family: 'Racing Sans One', cursive;
	    border-radius: 5px;
}
.points {
	float: left;
	width:40px;
	margin: 0;
	font-size: 44px;
	font-weight: bold;
	text-align: center;
	line-height: 138px;
	text-shadow: none;
	color:#999;
    display: none;
}
.boxName {
	float: left;
    width: 100%;
    font-size: 14px;
    color: #eee;
    font-weight: 500;
    clear: both;
    padding: 0px;
	font-family: 'Open Sans', sans-serif;
}
/*--/TIMER--*/
.scroll.top {
      font-size: 2em;
    text-align: center;
    display: block;
    color: #fff;
    width: 5%;
    margin: 1.5em auto 0;
}
/*--about--*/
.about {
    padding: 5em 0;
}
.about-grid1 h4 {
    font-size: 1.5em;
    text-transform: capitalize;
    color: #222;
    font-weight: 600;
	margin-bottom: .8em;
}
.about-grid1 p {
  font-size: 1em;
    line-height: 2em;
 }
.about-bottomgrid {
    padding: 0;
}
.about-bottom {
    margin: 1.5em 0;
}
.about span {
    font-size: 1.1em;
    line-height: 2em;
    display: block;
    color: #777;
	text-align: center;
}
.why-img1 {
    -moz-box-shadow: 4px 9px 12px #888;
    -webkit-box-shadow: 4px 9px 12px #888;
    box-shadow: 4px 9px 12px #888;
    -o-box-shadow: 4px 9px 12px #888;
    -ms-box-shadow: 4px 9px 12px #888;
}
.why{
	padding:5em 0;
	text-align:center;
	background: #FBF2F4;
}
.why-img img {
    border: 10px solid#258BA0;
	   margin: 0 auto;
}
.why-img {
    padding: 3em 0;
}
.why-grid h4{
	font-size: 2em;
    color: #222;
}
.why-grid p{
	font-size: 1em;
    line-height: 2em;
    padding: 0.5em 0 0;
}
.why-img1 {
   margin-top: 2em;
}
.team-section {
    padding: 5em 0;
}
.ih-item {
  position: relative;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.ih-item,
.ih-item * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ih-item a {
  color: #333;
}
.ih-item a:hover {
  text-decoration: none;
}
.ih-item img {
  width: 100%;
  height: 100%;
}

.ih-item.circle {
  position: relative;
  width: 220px;
  height: 220px;
  border-radius: 50%;
    margin: 0 auto;
}
.ih-item.circle .img {
  position: relative;
  width: 220px;
  height: 220px;
  border-radius: 50%;
}
.ih-item.circle .img:before {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: inset 0 0 0 16px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.ih-item.circle .img img {
  border-radius: 50%;
}
.ih-item.circle .info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  border-radius: 50%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.ih-item.square {
  position: relative;
  width: 316px;
  height: 216px;
  border: 8px solid #fff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
.ih-item.square .info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.ih-item.circle.effect1 .spinner {
  width: 230px;
  height: 230px;
    border: 10px solid #009B97;
    border-right-color: #fff;
    border-bottom-color: #fff;
  border-radius: 50%;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}
.ih-item.circle.effect1 .img {
  position: absolute;
  top: 10px;
  bottom: 0;
  left: 10px;
  right: 0;
  width: auto;
  height: auto;
}
.ih-item.circle.effect1 .img:before {
  display: none;
}
.ih-item.circle.effect1.colored .info {
  background: #1a4a72;
  background: rgba(26, 74, 114, 0.6);
}
.ih-item.circle.effect1 .info {
  top: 10px;
  bottom: 0;
  left: 10px;
  right: 0;
  background: #333333;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}
.ih-item.circle.effect1 .info h4 {
  color: #fff;
  text-transform: capitalize;
  position: relative;
  letter-spacing: 2px;
  font-size: 1.5em;
  margin: 0 30px;
  padding: 66px 0 0 0;
  height: 110px;
  text-shadow: 0 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.3);
 
}
.ih-item.circle.effect1 .info span {
  color: #bbb;
  padding: 10px 5px;
  font-style: italic;
  margin: 0 30px;
  font-size: 0.9em;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
.ih-item.circle.effect1 a:hover .spinner {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.ih-item.circle.effect1 a:hover .info {
  opacity: 1;
}
.team {
    background: #f7f7f7;
    border-top: 1px solid #eee;
    padding: 90px 0;
}
.morph {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.morph:hover {
	border-radius: 50%;
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
}
.team-grid p {
    font-size: 1em;
    line-height: 2em;
    margin-top: 2em;
    text-align: center;
}
/*--about--*/
/*--gallery--*/
.img-box, .info-box {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.img-box img, .info-box img {
  display: block;
  position: relative;
  max-width: 100%;
  max-height: 100%;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.img-box {
  position: relative;
}
.info-box {
  top: 0;
  left: 0;
  position: absolute;
}
.info-box .info-content {
  display: block;
  position: relative;
  padding: 0%;
  float: left;
  left: 50%;
  top: 50%;
  position: relative;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.separator {
    display: block;
    position: relative;
    height: 1px;
    width: 100%;
    margin: 20px auto;
    background: rgba(255, 255, 255, 0.5);
    clear: both;
}
.content-grid-effect {
  display: block;
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  overflow: hidden;
}
.content-grid-effect .info-content {
  z-index: 2 !important;
  filter: alpha(opacity=0);
  -wekbit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.content-grid-effect .img-box:after, .content-grid-effect .img-box:before, .content-grid-effect .info-box:after, .content-grid-effect .info-box:before {
  content: "";
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  -webkit-transition: 0.8s ease-in-out;
  -moz-transition: 0.8s ease-in-out;
  -ms-transition: 0.8s ease-in-out;
  -o-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
  filter: alpha(opacity=0);
  -wekbit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
.content-grid-effect.horizontal .img-box:before {
  top: 0;
  left: 0;
  width: 100%;
  height: 25%;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  transform: rotateX(90deg);
}
.content-grid-effect.horizontal .img-box:after {
  top: 25%;
  left: 0;
  width: 100%;
  height: 25%;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  transform: rotateX(90deg);
}
.content-grid-effect.horizontal .info-box:after {
  top: 50%;
  left: 0;
  width: 100%;
  height: 25%;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  transform: rotateX(90deg);
}
.content-grid-effect.horizontal .info-box:before {
  top: 75%;
  left: 0;
  width: 100%;
  height: calc(25% + 1px);
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  transform: rotateX(90deg);
}
.content-grid-effect.vertical .img-box:before {
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  -webkit-transform: rotateY(90deg);
  -moz-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  -o-transform: rotateY(90deg);
  transform: rotateY(90deg);
}
.content-grid-effect.vertical .img-box:after {
  top: 0;
  left: 25%;
  width: 25%;
  height: 100%;
  -webkit-transform: rotateY(90deg);
  -moz-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  -o-transform: rotateY(90deg);
  transform: rotateY(90deg);
}
.content-grid-effect.vertical .info-box:after {
  top: 0;
  left: 50%;
  width: 25%;
  height: 100%;
  -webkit-transform: rotateY(90deg);
  -moz-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  -o-transform: rotateY(90deg);
  transform: rotateY(90deg);
}
.content-grid-effect.vertical .info-box:before {
  top: 0;
  left: 75%;
  width: calc(25% + 1px);
  height: 100%;
  -webkit-transform: rotateY(90deg);
  -moz-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  -o-transform: rotateY(90deg);
  transform: rotateY(90deg);
}
.content-grid-effect:hover .img-box:after, .content-grid-effect:hover .img-box:before, .content-grid-effect:hover .info-box:after, .content-grid-effect:hover .info-box:before {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transform: rotateX(0deg);
  filter: alpha(opacity=100);
  -wekbit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.content-grid-effect:hover .info-content {
  filter: alpha(opacity=100);
  -wekbit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.slow-zoom .img-box {
  z-index: 0;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 2.2s ease-in-out;
  -moz-transition: all 2.2s ease-in-out;
  -ms-transition: all 2.2s ease-in-out;
  -o-transition: all 2.2s ease-in-out;
  transition: all 2.2s ease-in-out;
}
.slow-zoom:hover .img-box {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
}
.slow-zoom {
  display: block;
  overflow: hidden;
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.content-grid-effect {
    box-shadow: 0px 0px 14px 0px #DCDCDC;
    padding: 7px 7px;
}
.info-content h4{
	color:#fff;
	text-decoration:none;
	font-size:2em;
}
.info-content p{
	color:#fff;
	text-decoration:none;
	font-size:1em;
	line-height:2em;
	width:90%;
	margin:0 auto;
}
.gal_mar{
	margin-top:2em;
}
/*--gallery--*/
/*--codes--*/
.page{
	padding:5em 0;
}
.page-header h3{
	font-size: 2.5em;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: none;
}
.grid1 {
  margin: 1.5em 0 0;
}
ul.nav.nav-pills {
  margin: 1.5em 0 0;
}
.grid2{
	margin: 1em 0 0;
}
.form-horizontal .control-label {
  text-align: left;
}
/*--codes--*/
/*--contact--*/
.contact {
    padding: 5em 0;
}
.contact-bottom iframe{
	width:100%;
	min-height:400px;
	margin:0 0 -5px;
	border: none
}
.contact-left p{
	font-size: 1em;
	line-height: 1.8em;
	margin:0;
}
.contact-left p span{
	display:block;
	font-weight:700;
}
.contact-left ul{
	padding:1em 0 0;
	margin:0;
}
.contact-left ul li{
	list-style-type:none;
	margin:0 0 5px;
	font-size:1em;
	color:#777;
}
.contact-left ul li a{
	color:#6D6D6D;
	text-decoration:none;
}
.contact-left ul li a:hover{
	color:#407F8E;
}
.contact-left input[type="text"],.contact-left input[type="email"],.contact-left textarea{
	background:none;
	border: 1px solid #D9D9D9;
    color: #A3A3A3;
    padding: 13px 10px;
	font-size: 14px;
	outline: none;
}
.contact-left input[type="text"],.contact-left input[type="email"]{
	width: 32.7%;
	float: left;
}
.contact-left input[type="email"]{
	margin:0 6px;
}
.contact-left textarea{
	min-height: 200px;
	resize: none;
	width: 100%;
	margin:1em 0;
}
.contact-left input[type="submit"],.contact-left input[type="reset"]{
	outline: none;
    color: #fff;
    font-size: 1em;
    padding: 13px 0;
    width: 49.68%;
    background:#6D041E;
    border: none;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
}
.contact-left input[type="submit"]:hover,.contact-left input[type="reset"]:hover{
	background:#258BA0;
}
.contact-left h4{
	font-size: 2em;
    margin: 0 0 1em;
}
.contact-bottom {
    margin: 3em 0;
	padding:1em;
}

.address-block{
  position: absolute;
  top: 150px;
  right: 70px;
  background: rgba(255, 255, 255, 0.9);
  padding: 5px;
  border-radius: 2px;
  box-shadow: 0 0 1px #000;
}
.address-block ul{
  list-style-type: none;
}
/*--contact--*/

/*--responsive--*/
@media(max-width:1440px){

}
@media(max-width:1366px){
}
@media(max-width:1280px){
.caption {
    top: 33%;	
}
}
@media(max-width:1080px){
.caption {
    top: 27%;
    width: 62%;
}
.caption h3 {    
	font-size: 3em;	
}
.caption p {
    font-size: 2.5em;
}
.work-right {
    padding: 2.5em 0 0.5em 6em;
}
.work-left2 h5 span.glyphicon {
    margin-left: 6.5em;
    margin-right: -10.2em;
}
h2.tittle {
    font-size: 3em;
}
.couple-text h4,.couples-left h4,.couples-left1 h4,.details-grid h4,.why-grid h4,.info-content h4,.contact-left h4 {
    font-size: 1.8em;
}
h3.tittle1,h3.tittle{
    font-size: 3em;
}
.count {
    border: 5px double #eee;
    width: 95%;
}
.numscroller {
    font-size: 2.2em;
}
.contact-left input[type="text"], .contact-left input[type="email"] {
    width: 32.6%;
}
}
@media(max-width:1024px){
	
}
@media(max-width:991px){
.logo h1 a {
    font-size: 1.2em;	
}
.navbar-default .navbar-nav > li > a {
    font-size: 1em;
}
div#bs-example-navbar-collapse-1 {
    float: right;
    margin-top: 0.8em;
}
.navbar-brand {
    padding: 1px 15px;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0px;
}
.caption h3 {
    font-size: 2em;
}
.couple, .untill, .photos, .attending,.couples,.count-down,.lovers,.details,.about,.why,.team-section ,.page,.contact{
    padding: 4em 0;
}
.couple-text p,.couples-left p,.details-grid p,.about-grid1 p,.why-grid p,.team-grid p,.info-content p,.contact-left p {
    font-size: 0.965em;
}
.about span {
    font-size: 1em;
}
.couple-grid {
    float: left;
    width: 50%;
}
.couple-top {
    padding: 2em;
}
.countDays, .countHours, .countMinutes, .countSeconds {
    padding: 0.2em 0.2em 0.5em 0.2em;
}
#counter {
    height: 150px !important;
}
.work-left {
    padding: 2em 4em 0 0;
    float: left;
    width: 50%;
}
.work-right {
    padding: 2em 0 0.5em 5em;
    float: right;
    width: 50%;
}
.work-right h5 span.glyphicon {
        margin-right: 4em;
    margin-left: -8.2em;
}
.work-left2 h5 span.glyphicon {
    margin-left: 3.5em;
    margin-right: -7.2em;
}
.work-info h5 {
    font-size: 1.3em;
}
.love-text {
    width: 100%;
}
.count-grid {
    float: left;
    width: 50%;
}
.page-header h3 {
    font-size: 2em;
}
.count {
    border: 5px double #eee;
    width: 60%;
}
.count-grid:nth-child(3),.count-grid:nth-child(4) {
    margin-top: 2em;
}
.couples-grid {
    float: left;
    width: 50%;
}
.couples-left {
    float: left;
    width: 60%;
}
.couples-left1 {
    float: left;
    width: 60%;
}
.couples-right {
    float: left;
    width: 40%;
}
.attened {
    width: 65%;
}
.details-grid {
    float: left;
    width: 33.3%;
}
.details-grid span {
    font-size: 1.06em;
}
.footer-grid {
    width: 100%;
}
.social-icons {
    margin-bottom: 1em;
}
.about-grid {
    float: left;
    width: 30%;
}
.about-grid1 {
    float: left;
    width: 70%;
}
.about-bottomgrid {
    width: 100%;
}
.about-bottomgrid1 {
    width: 100%;
	margin-top:1em;
}
.why-grid {
    float: left;
    width: 33.3%;
}
.team-grid {
    float: left;
    width: 33.3%;
}
.gal-left {
    float: left;
    width: 33.3%;
    padding: 0 6px;
}
.separator {
    margin: 3px auto;
}
.contact-bottom iframe {
    min-height: 300px;
}
.contact-left {
    float: left;
    width: 40%;
}
.cont {
    float: left;
    width: 60%;
}
.contact-left input[type="text"], .contact-left input[type="email"] {
    width: 32.3%;
}
.contact-left input[type="submit"], .contact-left input[type="reset"] {
    width: 48.68%;
}
.contact-left textarea {
    min-height: 150px;
}
.caption h3 {
    font-size: 2.7em;
}
}
@media(max-width:800px){
.caption {
    top: 22%;
    width: 67%;
}	
}
@media(max-width:768px){
.caption {
    top: 22%;
    width: 70%;
    left: 16%;
}	
}
@media(max-width:736px){
div#bs-example-navbar-collapse-1 {
    float: none;
    margin-top: 0.8em;
    text-align: center;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color:none!important;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #258BA0;
}
.navbar-default .navbar-toggle {
    border-color: #258BA0;
}
.navbar-toggle {
    background-color: #258BA0;	
	margin-top: 18px;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.caption {
    top: 20%;
    width: 74%;
    left: 14%;
}
h2.tittle {
    font-size: 2.8em;
}
h3.tittle1, h3.tittle {
    font-size: 2.8em;
}
.couple, .untill, .photos, .attending, .couples, .count-down, .lovers, .details, .about, .why, .team-section, .page, .contact {
    padding: 3em 0;
}
.couple-grids, .until-grids, .couples-grids, .photos-grids, .about-grids, .team-grids {
    margin-top: 3em;
}
.work-info h4 {
    font-size: 1.1em;
}
.work-info h4:before {
    top: 8px;
}
.team-grid {
    float: left;
    width: 100%;
}
.team-grid:nth-child(2) {
    margin: 2em 0;
}
.count {
    border: 5px double #eee;
    width: 65%;
}
.couple-text h4, .couples-left h4, .couples-left1 h4, .details-grid h4, .why-grid h4, .info-content h4, .contact-left h4 {
    font-size: 1.7em;
}
.contact-left input[type="text"], .contact-left input[type="email"] {
    width: 32.1%;
}
.contact-left input[type="submit"], .contact-left input[type="reset"] {
    width: 49.5%;
}
}
@media(max-width:667px){
.caption {
    top: 20%;
    width: 82%;
    left: 10%;
}.caption h3 {
    font-size: 2.5em;
}
.caption p {
    font-size: 2em;
}
.cap i {
    font-size: 1.5em;	
}
.work-info h5 {
    padding: 0 1em;
}
.count {
    border: 5px double #eee;
    width: 72%;
}
.couples-grid {
    width: 100%;
}
.couples-grid:nth-child(2) {
    margin-top: 2em;
}
.love-text {
    padding: 0em 1em 1em;
}
.work-right h5 span.glyphicon {
    margin-right: 4em;
    margin-left: -7.2em;
}
.work-left2 h5 span.glyphicon {
    margin-left: 3.5em;
    margin-right: -6.2em;
}
.attened {
    width: 70%;
}
.details-grid {
    width: 100%;
}
.details-grid:nth-child(2) {
    margin: 2em 0;
}
.about-grid1 h4 {
    font-size: 1.4em;
}
.info-content p {
   line-height: 1.5em;
   width: 100%;
}
.contact-bottom iframe {
    min-height: 250px;
}
.contact-left input[type="submit"], .contact-left input[type="reset"] {
    width: 49.3%;
}
.scroll.top {
    margin: 1em auto 0;
}
}
@media(max-width:640px){
.work-info h5 {
    padding: 0 .5em;
	font-size: 1.25em;
}
.work-right h5 span.glyphicon {
    margin-right: 4em;
    margin-left: -6.9em;
}
.work-left2 h5 span.glyphicon {
    margin-left: 3.5em;
    margin-right: -6em;
}	
}
@media(max-width:600px){
.caption {
    top: 20%;
    width: 83%;
    left: 9%;
}
.work-right {
    padding: 2em 0 0.5em 3em;	
}
.work-right h5 span.glyphicon {
    margin-right: 3em;
    margin-left: -5.4em;
}
.work-info h5 {
    padding: 0em .5em;
    font-size: 1.2em;
}
.count {
    border: 5px double #eee;
    width: 82%;
}
.attending input[type="submit"] {
    width: 45%;
}
.gal-left {
    float: left;
    width: 50%;
    padding: 0 6px;
	margin-bottom: 18px;
}
.gal_mar {
    margin-top: 0em;
}
.info-content p {
    line-height: 1.8em;
    width: 90%;
}
.contact-left {
    width: 100%;
}
.cont {
    width: 100%;
	margin-top:1em;
}
.contact-left input[type="text"], .contact-left input[type="email"] {
    width: 32.5%;
}
.contact-left input[type="submit"], .contact-left input[type="reset"] {
    width: 49.6%;
}
}
@media(max-width:568px){
.caption {
    top: 16%;
    width: 88%;
    left: 6%;
}
.couple-text h4, .couples-left h4, .couples-left1 h4, .details-grid h4, .why-grid h4, .info-content h4, .contact-left h4 {
    font-size: 1.6em;
}
.count {
    border: 5px double #eee;
    width: 88%;
}
.love-text {
    padding: 0em .8em .8em;
}
.why-grid {
    float: left;
    width: 100%;
}
.why-grid:nth-child(2) {
   margin:2em 0;
}
.contact-bottom iframe {
    min-height: 200px;
}	
}
@media(max-width:480px){
.caption h3 {
    font-size: 1.2em;
}
.caption p {
    font-size: 1em;
}
.cap i {
    font-size: 0.9em;
}
.caption {
    top: 20%;
}
.couple, .untill, .photos, .attending, .couples, .count-down, .lovers, .details, .about, .why, .team-section, .page, .contact {
    padding: 2em 0;
}
.couple-grids, .until-grids, .couples-grids, .photos-grids, .about-grids, .team-grids {
    margin-top: 2em;
}
.couple-text p, .couples-left p, .details-grid p, .about-grid1 p, .why-grid p, .team-grid p, .info-content p, .contact-left p {
    font-size: 0.96em;
}
h2.tittle {
    font-size: 2.5em;
}
.couple-grid {
    width: 100%;
}
.couple-grid:nth-child(2) {
   margin-top:2em;
}
h3.tittle1 {
    margin-bottom: .0em;
}
.work-left {
    padding: 2em 0em 0 0;
    text-align: left;
    width: 85%;
}
.work-right {
    width: 93%;
    border: none;
}
.work-right h5 span.glyphicon {
    margin-right: 3em;
    margin-left: -5em;
}
.love-text {
    width: 90%;
}
.love-text {
    padding: 1em .8em 1em;
}
.work-left2 h5 span.glyphicon {
    margin-left: 4.5em;
    margin-right: -5.4em;
    float: right;
}
.work-right.work-right2 {
    min-height: inherit;
    padding: 0;
}
.countDays, .countHours, .countMinutes, .countSeconds {
    padding: 5px 0px 22px;
	border: 1px double#E3E3E3;
}
#counter {
    height: 114px !important;
}

.numscroller {
    font-size: 2em;
}
.count-grid h5 {
    font-size: 1.1em;
}
.count-grid {
    padding: 0 10px;
}
.count {
    border: 5px double #eee;
    width: 100%;
}
.attened {
    width: 80%;
	margin: 3em auto 0;
}
.work-left2 p {
    margin-top: 1em;
}
.work-left2 h5 {
    margin-top: .5em;
}
.about-grid {
    width: 100%!important;
}
.about-grid1 h4 {
    font-size: 1.3em;
    line-height: 1.5em;
}
.about-grid1 {
    width: 100%;
    margin-top: 2em;
}
.footer-grid ul li {
    font-size: 0.9em;
    background: url(../images/list-arrow.png) no-repeat 0px 8px;
    padding: 2px 16px;
}
.contact-left input[type="text"], .contact-left input[type="email"] {
    width: 100%;
}
.contact-left input[type="email"] {
    margin: 10px 0px;
}
.contact-bottom {
    margin: 1em 0;
    padding: 1em;
}
.contact-left ul li {
    font-size: .95em;
}
.contact-left input[type="submit"], .contact-left input[type="reset"] {
    width: 49.5%;
}
.scroll.top {
    margin: .5em auto 0;
}
}
@media(min-width:321px) and (max-width: 519px){
    .logo h1 a {
        font-size: 0.8em !important;
    }
    .caption {
      margin-top: 15%;
    }
}
@media(max-width:520px){
  
.caption h3 {
    font-size: 1.2em;
}
.logo h1 a {
    font-size: 0.75em;
}
.header {
    padding: 0.4em 0 .7em;
}
.navbar-toggle {
    margin-top: 14px;
}
.navbar-brand {
    height: 36px;
}
.caption {
    top: 14%;
    width: 100%;
    left: 0%;
}
.why-img {
    padding: 1em 0;
}
h3.tittle1, h3.tittle {
    font-size: 2.1em;
}
.work-left {
    padding: 2em 0em 0 0;
    text-align: left;
    width: 93%;
}
.work-right h5 span.glyphicon {
    margin-right: 3em;
    margin-left: -5em;
}
.work-info h5 span.glyphicon {
    font-size: 0.9em;
}
.countDays, .countHours, .countMinutes, .countSeconds {
    padding: 5px 0px 22px;
    border: 0px double#E3E3E3;
}
.couple-text {
    margin-top: 1em;
}
#counter {
    height: 115px !important;
}
.count {
    border: 5px double #eee;
    width: 59%;
}
.count-grid {
    width: 100%;
}
.count-grid:nth-child(2){
    margin-top: 2em;
}
.attending input[type="submit"] {
    width: 54%;
}
.footer-left {
    float: left;
    width: 49.3%;
}
.footer-left:nth-child(3){
    margin-top:1em;
}
.gal-left {
    width: 100%;
    margin-bottom: 28px;
}
.contact-left input[type="submit"], .contact-left input[type="reset"] {
    width: 49.4%;
}
.contact-bottom iframe {
    min-height: 160px;
}
.page-header h3 {
    font-size: 1.8em;
}
h1#h1-bootstrap-heading {
    font-size: 1.6em;
}
h2#h2-bootstrap-heading {
    font-size: 1.5em;
}
h3#h3-bootstrap-heading {
    font-size: 1.4em;
}
button.btn.btn-lg {
    font-size: 0.9em;
    margin: 0 0 0.5em 0px;
    padding: 9px;
}
.page-header {
    padding-bottom: 9px;
    margin: 24px 0 20px;
}	
}
@media(max-width:384px){
.caption h3 {
    font-size: 1em;
}
.caption p {
    font-size: 0.9em;
}
.caption i {
    font-size: 0.8em;
}
.count {
    width: 54%;
	height: 170px;
    padding-top: 3.2em;
}
.contact-left input[type="text"], .contact-left input[type="email"], .contact-left textarea {
    padding: 9px 10px;
}
.countdown {
    width: 97%;
}
.couples-left {
    width: 100%;
}
.couples-right {
    width: 100%;
	margin-top: 2em;
}
.couples-left1 {
    width: 100%;
	    margin-top: 2em;
}
.couples-grid img {
    width: 65%;
    margin: 0 auto;
}
.attened {
    width: 90%;
    margin: 2em auto 0;
}
}
@media(max-width:375px){
.count {
    border: 5px double #eee;
    width: 56%;
}
.numscroller {
    font-size: 1.8em;
}
h2.tittle {
    font-size: 2.3em;
}
h3.tittle1, h3.tittle {
    font-size: 2.2em;
}
.countdown {
    width: 98%;
}
.contact-left input[type="submit"], .contact-left input[type="reset"] {
    width: 49.3%;
}
.work-right h5 span.glyphicon {
    margin-right: 1.4em;
    margin-left: -5.5em;
}
.footer-section {
    padding: 1em 0;	
}
}
@media(max-width:320px){
  .logo h1 a {
    font-size: 0.7em !important;
  }
.cap i {
    font-size: 0.76em;
}
.caption {
    top: 12%;
    width: 100%;
    left: 0%;
}
.caption h3 {
    font-size: 1.35em;
}
.caption p {
    font-size: 1.2em;
}
h2.tittle {
    font-size: 2.2em;
}
.couple-top {
    padding: 1em;
}
.couple-grid,.details-grid,.couples-grid,.about-grid,.about-grid1,.about-bottomgrid,.contact-left {
    padding: 0;
}
.love-text {
    width: 88%;
}
.work-left2 h5 span.glyphicon {
    margin-right: -5em;
}
.work-right h5 span.glyphicon {
    margin-right: 1.3em;
    margin-left: -5.5em;
}
#counter {
    height: 100px !important;
}
.count {
    width: 68%;
}
.attened {
    width: 100%;
    margin: 2em auto 0;
	padding: 1em;
}
.work-info h5 {
    font-size: 1.15em;
}
.love-text {
    padding: 0.5em .8em 1em;
}
.couple-text h6 {
    font-size: 1.1em;
}
.couple-text h4, .couples-left h4, .couples-left1 h4, .details-grid h4, .why-grid h4, .info-content h4, .contact-left h4 {
    font-size: 1.3em;
}
h3.tittle1, h3.tittle {
    font-size: 2em;
}
.couple, .untill, .photos, .attending, .couples, .count-down, .lovers, .details, .about, .why, .team-section, .page, .contact {
    padding: 1em 0;
}
.couple-grids, .until-grids, .couples-grids, .photos-grids, .about-grids, .team-grids {
    margin-top: 1em;
}
.contact-bottom {
    margin: 0.2em 0;
}
.couples-right {
    margin-top: 1em;
}
.work-left {
    padding: 1.5em 0em 0 0;
}
.page-header {
    padding-bottom: 9px;
    margin: 10px 0 3px;
}
.details-grid span {
    font-size: 1em;
}
.attending input[type="submit"] {
    width: 62%;
}
.footer-left {
    float: left;
    width: 100%;
}
.footer-left:nth-child(2) {
    margin-top: 1em;
}
.contact-left textarea {
    min-height: 125px;
}
.contact-left input[type="submit"], .contact-left input[type="reset"] {
    font-size: 0.96em;
    padding: 10px 0;
}
h2.tittle {
    font-size: 1.8em;
}

}